<h1>Stirng Interpolation</h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>
<hr>
<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation">
<p [ngClass]="{redBorder: onTest()}">Is this is styled?</p>
<p [ngStyle]="{color: 'green'}">Is this is styled?</p>
<h3>Cuntom Property Binding</h3>
<fa-property-binding [result]="10"></fa-property-binding>
<h1>Event Binding</h1>
<fa-event-binding (clickable)="onClicked($event)"></fa-event-binding>
<hr>
<h1>Two way binding</h1>
<fa-two-way-binding></fa-two-way-binding>
